
Port {{.Port}}
PasswordAuthentication no
Protocol 2
IgnoreRhosts yes
AcceptEnv LANG LC_*
UsePAM no 
LoginGraceTime 120
PubkeyAuthentication yes
StrictModes no

ForceCommand {{.Path}}/command.sh
HostKey {{.Path}}/ssh_host_ed25519_key
TrustedUserCAKeys {{.Path}}/ca.pub
AuthorizedPrincipalsFile {{.Path}}/auth_principals/%u
